/* src/Profile.css */
.profile-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #567;
}

.profile-role {
  font-weight: 500;
  color: #666;
}

.profile-description {
  margin-top: 1rem;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}


.home-card {
  background: #555;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 400px;
  text-align: center;
}

.bottom-cards-container {
  width: 200vw; /* Double the width for two sets */
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  z-index: 100;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw); /* Move by half the container width */
  }
}